<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
 </div>
<div class="row">
    <div class="col-md-4">
      <h1>Reset Password</h1>
      <hr><br>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                  [(ngModel)]="password.email"
                  name="email"
                  type="email"
                  required
                  class="form-control"
                  id="email"
                  placeholder="enter your email">
              </div>
          <label for="newPassword">New password</label>
          <input
            [(ngModel)]="password.newPassword"
            name="newPassword"
            type="password"
            required
            class="form-control"
            minlength="5"
            id="newPassword"
            placeholder="enter a password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            [(ngModel)]="password.confirmPassword"
            name="confirmPassword"
            type="password"
            required
            class="form-control"
            id="password"
            minlength="5"
            placeholder="Confirm the password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
      </form>
    </div>
  </div>